*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ***** CONTAINERS ***** */

#dashboard{
    height: 100vh;
}

header{
    height: 70px;
}

main{
    height: calc( 100vh - 70px );
}

/* ***** HEADER ***** */

header .form-control{
    background-color: #E9ECEF;
}

#logo{
    min-width: 30px;
}

/* ***** MAIN ***** */


/* *** SIDEBAR *** */

#sidebar{
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc( 100vh - 70px );
}

/* *** CONTENTS *** */

#contents{
    height: calc( 100vh - 70px );
    overflow: auto;
}

/* *** OFFCANVAS *** */

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 100%;
    border-left: var(--bs-offcanvas-border-width) solid
      var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}
  
@media screen and (min-width: 992px) {
    
    .offcanvas.offcanvas-end {
        top: 0;
        right: 0;
        width: 70%;
        border-left: var(--bs-offcanvas-border-width) solid
        var(--bs-offcanvas-border-color);
        transform: translateX(100%);
    }
}

/* PROSSIME CLASSI */


.img-list {
    width: 30px;
  }