*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.row>*{
    
}

.bg-dark-custom{
    background-color: ;
}

/* ***** CONTAINERS ***** */

#dashboard{
    height: 100vh;
}

header{
    height: 70px;
}

main{
    height: calc( 100% - 70px );
}

/* ***** HEADER ***** */

header .form-control{
    background-color: #E9ECEF;
}

/* ***** MAIN ***** */
/* 
main> .row{
    height: 100%;
} */

/* *** SIDEBAR *** */

#sidebar{
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* *** CONTENTS *** */